---
import background from '../assets/beige_work.jpg';
import roomies from '../assets/projects/roomies.png';
import speech from '../assets/projects/speech.png';
import minecraft from '../assets/projects/minecraft.png';
import news from '../assets/projects/news.png';
import spotbnb from '../assets/projects/spotbnb.png';
import game from '../assets/projects/2048_2.png';
import mvlab from '../assets/work/work_mvlab.png';
import personal from '../assets/projects/personal.png';





const { href, label } = Astro.props;




import Navbar from './Navbar.astro'
---
<Navbar class="site-navbar" />

<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" class="opacity-40"/>
	<main>
		<img src={speech.src} alt="Smartglasses" class="absolute right-20 h-48 object-cover mt-10 rounded-3xl translate-y-16"/>
		<div class="absolute right-28 top-44 font-molengo text-sm">
			click on each picture </br>
			to learn more!
		</div>


		<section id="hero">
			<a
				href="https://docs.google.com/presentation/d/13Ztt0dufCc2yh4CFPmbhZd_U3RdgagFIXpPWgI2RWVA/edit?usp=sharing"
				target="_blank"
				rel="noopener"
				class="relative group inline-block"
				aria-label={label}
			>
				<div class="flex font-molengo text-9xl">
					<span>(</span>
						<img src={roomies.src} alt="Smartglasses" class="h-32 object-cover mt-10 rounded-3xl -translate-y-8"/>
					<span>)</span>
				</div>
			</a>
			<h3 class="text-xs">*Note that since our app is in testflight, you'll need to download testflight first*</h3>
			<h3 class="mt-2">Roomies (Project Lead) - A deployed mobile app that streamlines the rooming process, using React Native, nativewind, Firebase.</h3>
			<a
				href="https://docs.google.com/presentation/d/13Ztt0dufCc2yh4CFPmbhZd_U3RdgagFIXpPWgI2RWVA/edit?slide=id.g34b4919a263_1_19#slide=id.g34b4919a263_1_19"
				target="_blank"
				rel="noopener"
				class="relative group inline-block -mb-36 mt-4"
				aria-label={label}
			>
				<div class="flex font-molengo text-9xl">
					<span class="translate-x-32">{"{"}</span>
						<img src={minecraft.src} alt="Minecraft" class="h-80 object-cover rounded-3xl -translate-y-24"/>
					<span class="-translate-x-32">{"}"}</span>
				</div>
			</a>
			<h3 class="">Mini Minecraft - Created a Minecraft World with player physics, biomes, textures, and optimization through OpenGL, C++.</h3>
			<a
				href="https://github.com/tunamoon/AriaPythonScripts"
				target="_blank"
				rel="noopener"
				class="relative group inline-block"
				aria-label={label}
			>
				<div class="flex font-molengo text-9xl">
					<span class="translate-x-6">{"["}</span>
						<img src={mvlab.src} alt="Machine Vision Lab" class="h-36 object-cover rounded-3xl p-4"/>
					<span class="-translate-x-6">{"]"}</span>
				</div>
			</a>
				<h3 class="mt-2">Aria Glasses Data Collection - Developed Python scripts to request MPS service, extract VRS data config files used to build eye gaze models.</h3>
				
			<a
				href="https://drive.google.com/drive/folders/1ZfYJFtzMsM_7jz3x_KhgDWmiIBr_nGND?usp=sharing"
				target="_blank"
				rel="noopener"
				class="relative group inline-block"
				aria-label={label}
			>
				<div class="flex font-molengo text-9xl">
					<span class="translate-x-6">{"|"}</span>
						<img src={news.src} alt="News Classification ML" class="h-36 object-cover rounded-3xl p-6"/>
					<span class="-translate-x-6">{"|"}</span>
				</div>
			</a>
			
			<h3 class="mt-2">News Classification ML Model - Scraped URL's, determined fine-tune BERT (SOTA) is best at headline classification out of 4 trained models.</h3>
			<a
				href="https://tunamoon.github.io/personal/#projects"
				target="_blank"
				rel="noopener"
				class="relative group inline-block"
				aria-label={label}
			>
				<div class="flex font-molengo text-9xl">
					<span class="translate-x-6">{"-"}</span>
						<img src={personal.src} alt="Personal Website" class="h-44 object-cover rounded-3xl p-6"/>
					<span class="-translate-x-6">{"-"}</span>
				</div>
			</a>
			
			<h3 class="mt-2">Personal Website V1 - Using React, Javascript, HTML, previous personal website (I designed this one, did I improve?)</h3>
			<a
				href="https://github.com/tunamoon/SpotBnb"
				target="_blank"
				rel="noopener"
				class="relative group inline-block"
				aria-label={label}
			>
				<div class="flex font-molengo text-9xl">
					<span class="translate-x-20">{"<"}</span>
						<img src={spotbnb.src} alt="SpotBnb" class="h-72 object-cover rounded-3xl -translate-y-16"/>
					<span class="-translate-x-20">{">"}</span>
				</div>
			</a>
			<h3 class="-translate-y-32">SpotBnb - Use Spotify and Airbnb datasets, GoogleMaps API to create a web app that allows users to search for nearby concerts.</h3>
			<a
				href="https://github.com/tunamoon/2048"
				target="_blank"
				rel="noopener"
				class="relative group inline-block"
				aria-label={label}
			>
				<div class="flex font-molengo text-9xl -translate-y-32">
					<span class="translate-x-8">{"$"}</span>
						<img src={game.src} alt="2048" class="h-56 object-cover rounded-3xl -translate-y-8"/>
					<span class="-translate-x-8">{"$"}</span>
				</div>
			</a>			
			<h3 class="-translate-y-56 mt-2">2048 - Classic game pop up built through Java, I/O testing.</h3>




		</section>
	</main>
</div>

<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		/* filter: blur(10px); */
	}

	:global(.site-navbar) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 50;
		font-family: 'molengo';
		padding-left: 100px;
		padding-right: 100px;
		/* filter: blur(10px); */
	}

	#container {
		font-family: 'molengo';
		height: 100vh;
		position: relative;
		overflow-y: auto;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	#hero {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: start;
		padding-top: 200px;
	}

	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}

	#links {
		display: flex;
		gap: 16px;
	}

	#links a {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		color: #111827;
		text-decoration: none;
		transition: color 0.2s;
	}

	#links a:hover {
		color: rgb(78, 80, 86);
	}

	#links a svg {
		height: 1em;
		margin-left: 8px;
	}

	#links a.button {
		color: white;
		background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
		box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.12),
			inset 0 -2px 0 rgba(0, 0, 0, 0.24);
		border-radius: 10px;
	}

	#links a.button:hover {
		color: rgb(230, 230, 230);
		box-shadow: none;
	}

	pre {
		font-family:
			ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono',
			monospace;
		font-weight: normal;
		background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		margin: 0;
	}

	h2 {
		margin: 0 0 1em;
		font-weight: normal;
		color: #111827;
		font-size: 20px;
	}

	p {
		color: #4b5563;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}

	code {
		display: inline-block;
		background:
			linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
			linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
		border-radius: 8px;
		border: 1px solid transparent;
		padding: 6px 8px;
	}

	.box {
		padding: 16px;
		background: rgba(255, 255, 255, 1);
		border-radius: 16px;
		border: 1px solid white;
	}

	#news {
		position: absolute;
		bottom: 16px;
		right: 16px;
		max-width: 300px;
		text-decoration: none;
		transition: background 0.2s;
		backdrop-filter: blur(50px);
	}

	#news:hover {
		background: rgba(255, 255, 255, 0.55);
	}

	@media screen and (max-height: 368px) {
		#news {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}

		#links {
			flex-wrap: wrap;
		}

		#links a.button {
			padding: 14px 18px;
		}

		#news {
			right: 16px;
			left: 16px;
			bottom: 2.5rem;
			max-width: 100%;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>
